body {
    background-color: rgb(139, 243, 247);
    
}
h1{
    color: red;
    background-color: blueviolet;
}
h2{
    color: #1d13b3;
}
h3{
    color: white;
    background: rgb(201, 179, 9);
}
p{
    background-color: aquamarine;
}
#parrafo{
    background-color:rgb(84, 50, 237,0.5);
    


}